<div class="page">
  <div class="container">
    <section class="section about">
      <!-- Header -->
      <div class="about__header animate-fade-up delay-1">
        <h1 class="section-title">{{ "about.title" | translate }}</h1>
      </div>
      <div class="about__content">
        <!-- Bio & Avatar -->
        <div class="about__bio animate-fade-up delay-2">
          <div class="about__text">
            <p>{{ "about.bio_1" | translate }}</p>
            <p>{{ "about.bio_2" | translate }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
